html {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(rgb(255, 255, 255) 1%, rgb(169, 217, 242) 15%, rgba(47, 139, 176, 0.823) 70% );
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 50px;
  margin-top: 10px;
  box-shadow: 10px 5px 5px black;
}

header img {
margin-bottom: 10px;
}

.form-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 1100px;
  height: 600px;
}

.form-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 550px;
  font-family: 'Passion One', cursive;
}

.form-container h3 {
  font-size: x-large;
  color: rgb(193, 12, 12);
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-form input {
  width: 370px;
  height: 30px;
  box-shadow: 0 0 0 0;
  border: 0 none;
}

.input-form input:focus {
  outline: 0;
}

.input-form textarea {
  width: 370px;
  height: 70px;
  box-shadow: 0 0 0 0;
  border: 0 none;
}

.input-form textarea:focus {
  outline: 0;
}

.input-form select {
  width: 370px;
  height: 30px;
  box-shadow: 0 0 0 0;
  border: 0 none;
}

.input-form hr {
  border: 1px solid #3D495C;
  background-color: #3D495C;
  width: 370px;
  margin-top: 0;
}

.attr {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attr input {
  width: 270px;
  height: 30px;
}

.form-img {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-img input {
  width: 270px;
  height: 30px;
}

.form-super-btn-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.super-bazinga {
  background-color: rgb(193, 12, 12);
  border-radius: 10px;
  color: rgb(216, 191, 44);
  font-family: 'Bangers', cursive;
  font-size: 23px;
  padding: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.form-super-btn-container button {
  margin-left: 80px;
  padding: 8px 32px ;
  background-color: rgba(47, 139, 176, 0.823);
  box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.706);
  /* font-weight: bold; */
  color: white;
}

.form-super-btn-container button:hover {
  background-color: rgba(80, 185, 226, 0.823);
}

.card-out-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 355px;
  height: 505px;
  margin-left: 30px;
  background-color: white;
  box-shadow: 0px 3.89311px 18.4923px rgba(0, 0, 0, 0.25);
}

.card-mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 336px;
  height: 490px;
  background-color: rgb(193, 12, 12);
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 310px;
  height: 460px;
  background-color: whitesmoke;
}


.card-container .card-name {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgba(19, 87, 119, 0.833);
  color: white;
  font-family: 'Bangers', cursive;
  font-size: x-large;
}

.img-card-container {
  height: 200px;
}

.card-container img {
  width: 100%;
}

.card-container .card-description {
  padding-top: 4px;
  position: absolute;
  left: -0.3em;
  top: 180px;
  transform: rotate(-6deg);
  background-color: rgb(193, 12, 12);
  height: 60px;
  width: 320px;
  margin-top: 0;
  color: white;
  word-break: break-all;
}

.attr-card-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.attr-card-container div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(231, 226, 226);
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  margin: 3px;
  border-radius: 5px;
}

.attr-card-container p {
  margin: 10px;
  font-family: 'Passion One', cursive;
}

.card-rare-trunfo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.card-rare-trunfo-container .card-rare {
  font-family: 'Passion One', cursive;
  font-size: larger;
}

.saved-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.saved-cards-container button {
  width: 80%;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 5px;
}
